.left-column {
  float: left;
  width: calc(100% - 200px);
  border-right: 1px solid #bbb;
}

.right-column {
  float: left;
  width: 200px;
}

.h-100vh {
  height: 100vh;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.preview {
  height: 150px;
  margin-bottom: 20px;
}

.experiment {
  background: no-repeat center;
}